<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
     <appSettings>
            <add key="DbHelperProvider" value="System.Data.SqlClient" />
            <add key="DbHelperConnectionString" value="server=huodaonar.com;database=YSWMS_CMT0611;uid=cmt;pwd=cmt123;" />
  </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <handlers accessPolicy="Read, Script">
            <remove name="ISAPI-dll" />
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
            <add name="ISAPI-dll" path="*.dll" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="bitness64" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>